.language-select-container {
  border-radius: 8px;
  padding: 8px;
  width: 200px;
}

.language-select {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  color: #333;
}

.language-select .mat-option {
  display: flex;
  align-items: center;
  padding: 8px;
}

.language-select .mat-option:hover {
  background-color: #f5f5f5;
}

.language-select .mat-icon {
  margin-right: 8px;
}

::ng-deep .language-select-container .mat-mdc-form-field-subscript-wrapper {
  display: none !important;
}
